.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #121212;
  color: white;
}

.btn {
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background: #007bff;
  color: white;
  font-size: 16px;
}
.btn:hover {
  background: #0056b3;
}